footer {
    position: fixed;
    height: 60px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    font-size: 20px;
}