footer {
    position: relative;
    margin-top: 1000px;
    height: 60px;
    width: 100%;
    left: 0;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    font-size: 20px;
}