header {
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
    background: url("../images/logo.png") no-repeat;
    background-position-x: 20px;
}