.filters {
    height: 70px;
    width: 100%;
    background-color:white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

/*.filters > ul li:hover.popover{
    display: block;
}*/

button {
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF5A5F;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-top: 11px;
    float:right;
    margin-right: 30px;
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    display: inline-block;
    border-right: 1px solid #DDDDDD;
}

.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    margin-left: -0.4%;
}


popover ul{ 
   margin: 0;
   width: 100%;
   padding: 0;
   margin-top: +4.5%;
} 

popover ul li{ 
    display: block;
    float: left;
    width: inherit;
    padding: 0;
}

popover ul li ul li{
    float: none;
    width: inherit;
} 
popover ul li ul{
    display: none;
    width: inherit;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
} 
popover ul li:hover>ul{
    display: block;
    width: inherit;
}


h1 {
    font-size: 30px;
}

h2 {
    margin-left: 12%;
    font-size: 16px;
}

h3 {
    font-weight: 600;
    margin-left: 20%;
    line-height: 0.2;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-left: 20%;
    line-height: 0.2;
}